<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h1>Hire</h1>
        </div>
        <div class="right-side">
            <div class="section">
                <form>
                    <label class="label">Username or Email</label>
                    <input type="email" class="username">
                    <br/>
                    <label class="label">Password</label>
                    <input type="password" class="password">
                    <a href="/#" class="forgot">Forgot your Password?<span>  click here</span></a>
                    <button type="reset" class="reset">cancel</button>
                    <button type="submit" class="login">Login</button>
                </form>
               
            </div>
        </div>
    </div>
</body>
</html>